@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #03071C;
    --purple: #3826FF;
}

* {
}

html, body {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

.btn-purple{
    background: var(--bg);
    color: white;
    padding:2rem;
    font-size:2rem;
    border: solid 3px var(--purple);
    border-radius:25px;
}

h1, h2, h3, h4, h5, h6, p, a, span, strong {
    font-family: Montserrat;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

@media(max-width:600px){
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.4rem;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 15%;
    padding: 2rem;
    padding-top: 2rem;
    padding-top: 3rem;
}

.mono {
    font-family: 'Plex Mono' !important;
}

.brand-img {
    max-width: 100px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.info-box {
    background: rgb(16 20 40);
    border-radius: 10px;
    padding: 5px 10px
}

.btn-white {
    background: #fff;
    border: 2px solid rgb(131 131 131);
    border-radius: 10px;
    color: #000;
    font-weight: 600
}

    .btn-white:hover {
        background: #0b0d1169;
        backdrop-filter: blur(5px);
        border: solid 2px #fff;
        color: #fff !important
    }

    .btn-white:disabled {
        background: rgb(255,255,255,.5);
        pointer-events: none
    }

.legacy p, .legacy span {
    display: none;
}

.legacy.active {
    border-right: solid 3px rgb(255,255,255,0.8);
}

    .legacy.active p, .legacy.active span {
        display: block;
    }

.menu-item {
    text-decoration: none;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.1rem;
}

    .menu-item.active {
        color: #ffffff;
    }

        .menu-item.active:before {
            content: "\A";
            width: 0.25rem;
            height: 1.75rem;
            background: #ffffff;
            display: inline-block;
            margin-bottom: -0.55rem;
            margin-right: 1rem;
            margin-left: -1.25rem;
            border-radius: 25px;
        }

    .menu-item:hover {
        color: #ffffff;
    }

@media(min-width:1280px) {
    .container {
        max-width: 70%;
    }

    .container-fluid {
        margin-left: 15%;
        max-width: 85%;
    }
}

@media(max-width:1500px) and (min-width:1280px){
    .container{
        max-width:75%;
        margin-right:6.5%
    }
}

@media(min-width:2200px) {
    .container {
        max-width: 65%;
    }
}

@media(max-width:1279px) {
    .sidebar {
        display: none !important;
    }
}

.mobilebar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(27, 28, 50, 0.8);
    border-radius: 25px;
    position: fixed;
    z-index: 9;
    bottom: 1.5%;
    width: 95%;
    left: 2.5%;
    padding: 0.25rem 0.75rem;
    backdrop-filter: blur(25px);
    border-radius: 73px;
}

@media(max-width:1279px) {
    .mobilebar {
        display: block !important;
    }
}
@media(min-width:1280px) {
    .mobilebar {
        display: none !important;
    }
}

progress {
    background: transparent;
    border: none; /* Needed for Firefox */
    color: #fff; /* For IE10 */
    -webkit-appearance: none; /* Needed for WebKit/Blink */
    border-radius:2px;
}

progress[value]::-webkit-progress-bar {
    background: transparent;
    border-radius: 2px;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(right, rgba(255, 255, 255, 0.68), rgba(56, 38, 255, 1));
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
}

    progress::-webkit-progress-bar {
        background-color: #ccc;
        width: 100%;
    }

progress { /* for FF target directly the element */
    background-color: transparent;
    width: 100%;
}

    progress::-webkit-progress-value {
        background-color: transparent !important;
        -webkit-transition: all .7s;
        transition: all .7s;
    }

    progress::-moz-progress-bar { /* for FF ::progress-bar is the value bar */
        background: linear-gradient(to left, rgba(255, 255, 255, 0.68), rgba(56, 38, 255, 1)) !important;
        transition: all .7s;        
    }

.modal-overlay {
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    position: fixed;    
    background: rgb(0,0,0, 0.5);
    z-index: 99999999999999;
    display:none;
    transition: top ease-in-out;
}

.modal {
    background: linear-gradient(180deg,#000000 0%,#03071C 100%);
    border: solid 1px rgb(235 235 235 / 10%);
    box-shadow: 0 0 2px rgb(150 150 150 / 10%);
    position: fixed;
    top: 25%;
    left: 30%;
    width: 45vw;
    height: 50vh;
    border-radius: 25px;
    display:none;
    transition: ease-in-out;
}
.modal {
    background: linear-gradient(180deg, #181823 0%, #0c0c0e 20%, #03071d 100%);
    border: solid 1px rgb(235 235 235 / 10%);
    box-shadow: 0 0 2px rgb(150 150 150 / 10%);
    position: fixed;
    top: 25%;
    left: 30%;
    width: 45vw;
    height: 50vh;
    border-radius: 25px;
    display: none;
    transition: ease-in-out;
}

@media(max-width: 1024px) {
    .modal {
        top: 10%;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border: none;
        border-top: solid 2px rgb(235 235 235 / 20%);
    }
}

.mobile-icon{
    padding-bottom:7.5px;
}

.mobile-icon.active{
    border-bottom: solid 2px white !important;
}

.grayscale-50{
    filter:grayscale(0.5);
}

.grayscale-75 {
    filter: grayscale(0.75);
}