@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #03071C;
    --purple: #3826FF;
}

* {
}

html, body {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

.btn-purple-og {
    background: var(--purple);
    color: white;
    border-radius: 25px;
}

.btn-purple {
    background: var(--bg);
    color: white;
    padding: 2rem;
    font-size: 2rem;
    border: solid 3px var(--purple);
    border-radius: 25px;
}

.btn-products {
    background: transparent;
    border-radius: 25px;
    padding: 1.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;    
}

    .btn-products.active {
        background: #FFFFFF;
        color: black;
    }

    .btn-products h5 {
        font-weight: 600;
        color: white;
    }

    .btn-products p {
        color: rgb(255,255,255,0.3);
        max-width: 450px;
        text-align:start;
    }

    .btn-products.active h5 {
        font-weight: 600;
        color: black;
    }

    .btn-products.active p {
        color: rgb(0,0,0,0.7);
    }

h1, h2, h3, h4, h5, h6, p, a, span, strong, input {
    font-family: Montserrat;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

@media(max-width:1400px) {
    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }
}

@media(max-width:600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.65rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.15rem;
    }
}

@media(max-width:450px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.35rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    h5 {
        font-size: 1.05rem;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 15%;
    padding: 2rem;
    padding-top: 2rem;
    padding-top: 3rem;
}

.mono {
    font-family: 'Plex Mono' !important;
}

.brand-img {
    max-width: 100px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.info-box {
    background: rgb(16 20 40);
    border-radius: 10px;
    padding: 5px 10px;
}

.btn-white {
    background: #fff;
    border: 2px solid rgb(131 131 131);
    border-radius: 10px;
    color: #000;
    font-weight: 600
}

    .btn-white:hover {
        background: #0b0d1169;
        backdrop-filter: blur(5px);
        border: solid 2px #fff;
        color: #fff !important
    }

    .btn-white:disabled {
        background: rgb(255,255,255,.5);
        pointer-events: none
    }

.btn-white-2 {
    background: #fff;
    border: 2px solid rgb(131 131 131);
    border-radius: 15px;
    color: #000;
    font-weight: 600
}

    .btn-white-2:hover {
        background: #0b0d1169;
        backdrop-filter: blur(5px);
        border: solid 2px #fff;
        color: #fff !important
    }

    .btn-white-2:disabled {
        background: rgb(255,255,255,.5);
        pointer-events: none
    }
.legacy p, .legacy span {
    display: none;
}

.legacy.active {
    border-right: solid 3px rgb(255,255,255,0.8);
}

    .legacy.active p, .legacy.active span {
        display: block;
    }

@media(min-width:1280px) {
    .legacy h4 {
        font-size: 1rem;
    }

    .legacy.active h4 {
        font-size: 1.4rem;
    }
}

@media(min-width:1800px) {
    .legacy h4 {
        font-size: 1.35rem;
    }

    .legacy.active h4 {
        font-size: 1.6rem;
    }
}


.menu-item {
    text-decoration: none;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.1rem;
}

    .menu-item.active {
        color: #ffffff;
    }

        .menu-item.active:before {
            content: "\A";
            width: 0.25rem;
            height: 1.75rem;
            background: #ffffff;
            display: inline-block;
            margin-bottom: -0.55rem;
            margin-right: 1rem;
            margin-left: -1.25rem;
            border-radius: 25px;
        }

    .menu-item:hover {
        color: #ffffff;
    }

@media(min-width:1280px) {
    .container {
        max-width: 70%;
    }

    .container-fluid {
        margin-left: 15%;
        max-width: 85%;
    }
}

@media(max-width:1500px) and (min-width:1280px) {
    .container {
        max-width: 75%;
        margin-right: 6.5%
    }
}

@media(min-width:2200px) {
    .container {
        max-width: 65%;
    }
}

@media(max-width:1279px) {
    .sidebar {
        display: none !important;
    }
}

.mobilebar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(27, 28, 50, 0.8);
    border-radius: 25px;
    position: fixed;
    z-index: 5;
    bottom: 1.5%;
    width: 95%;
    left: 2.5%;
    padding: 0.25rem 0.75rem;
    backdrop-filter: blur(25px);
    border-radius: 73px;
}

@media(max-width:1279px) {
    .mobilebar {
        display: block;
    }
}

@media(min-width:1280px) {
    .mobilebar {
        display: none !important;
    }
}

progress {
    background: transparent;
    border: none; /* Needed for Firefox */
    color: #fff; /* For IE10 */
    -webkit-appearance: none; /* Needed for WebKit/Blink */
    border-radius: 15px;
}

    progress[value]::-webkit-progress-bar {
        background: transparent;
        border-radius: 15px;
    }

    progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg, #4d3fe1 75%, #a5a6ab);
        border-radius: 15px;
    }

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 15px;
}

    progress::-webkit-progress-bar {
        background-color: #ccc;
        width: 100%;
        border-radius: 15px;
    }

progress { /* for FF target directly the element */
    background-color: transparent;
    width: 100%;
    border-radius:15px;
}

    progress::-webkit-progress-value {
        background-color: transparent !important;
        -webkit-transition: all .7s;
        transition: all .7s;
        border-radius: 15px;
    }

    progress::-moz-progress-bar { /* for FF ::progress-bar is the value bar */
        background: linear-gradient(to left, rgba(255, 255, 255, 0.68), rgba(56, 38, 255, 1)) !important;
        transition: all .7s;
        border-radius: 15px;
    }

.modal-overlay {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(0,0,0, 0.5);
    z-index: 99999999999999;
    display: none;
    transition: top ease-in-out;
}

.modal {
    background: linear-gradient(180deg, #181823 0%, #0c0c0e 20%, #03071d 100%);
    border: solid 1px rgb(235 235 235 / 10%);
    box-shadow: 0 0 2px rgb(150 150 150 / 10%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    max-height: 770px;
    max-width: 770px;
    margin-left: -385px;
    margin-top: -385px;
    border-radius: 25px;
    display: none;
    transition: ease-in-out;
    overflow-y: auto;
    z-index: 999;
}

@media(max-width: 1024px) {
    .modal {
        top: 10%;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin:0;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border: none;
        border-top: solid 2px rgb(235 235 235 / 20%);        
    }
}

.mobile-icon {
    padding-bottom: 7.5px;
}

    .mobile-icon.active {
        border-bottom: solid 2px white !important;
    }

.grayscale-50 {
    filter: grayscale(0.5);
}

.grayscale-75 {
    filter: grayscale(0.75);
}

.main-menu-icon {
    max-height: 50px;
    max-width: 50px;
}

.main-menu-1 {
    width: 32.5%;
}

hr {
    height: 1px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);    
    border: none;
}

.text-activated {
    color: #10e18a;
    font-weight: 600;
}

.divider {
    width: 3px;    
    background-color: rgb(167 167 167 / 25%);
}

.divider-2 {
    width: 1px;
    background-color: rgb(255 255 255 / 10%);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: #d3d3d3;
    padding-left: 1px;
    padding-right: 1px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 94px;
        height: 35px;
        border: 0;
        background: url('/images/slider.png');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 94px;
        height: 35px;
        border: 0;
        background: url('/images/slider.png');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

.dropdown-box {
    border: solid 1px rgb(255,255,255,0.3);
    border-radius: 15px;
    height: 65px;
}

    .dropdown-box:after {
        content: "⌄";
        color: rgb(255,255,255,0.6);
        font-size: 2rem;
        margin-top: -1rem;
    }

.dropdown-box-2 {
    border: solid 2px rgb(255,255,255,0.2);
    border-radius: 15px;
}

    .dropdown-box-2:after {
        content: "⌄";
        color: rgb(255,255,255,0.6);
        font-size: 1.25rem;
        margin-left:10px;
        margin-top: -0.5rem;
    }

.form-control {
    border: none;
    background: none;
    color: white;
}

    .form-control:focus, .form-control:active, .form-control:focus-visible {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


.dropdown {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(255,255,255,0.3);
    border-radius: 15px;
    z-index: 9;
    position: relative;
    margin-top: -65px;
    background: rgb(0,0,0,1);
    backdrop-filter: blur(25px);
    display: none;
    background: var(--bg);
}

@media(min-width:1024px) {
    .dropdown {
        top: auto !important;
    }
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 5px 15px;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5px;
}

    .dropdown-item:hover {
        box-shadow: 0 0 0 1px rgb(255,255,255,0.6);
        border-radius: 15px;
    }

@media(max-width:1024px) {
    .dropdown {
        padding-top: 0.5rem;
        max-width: 100%;
        max-height: 100%;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        position: fixed;
        margin: 0;
    }

    .dropdown-item {
        margin-bottom: 5px;
    }

        .dropdown-item:hover {
            box-shadow: none;
        }
}

.stats-box {
    border: solid 1px rgb(255,255,255,0.1);
    border-radius: 15px;
}


.progress-home{
    border: solid 2px rgb(255,255,255,0.1);
}

.nft-box {
    background: var(--bg);
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 5px #7b7b7b9e;
    flex-grow: 5;
    min-width:275px;
    max-width:300px;
}

.nft-body {
    margin-top: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-radius:15px;
    background: #15192c;
}

@media(max-width:650px){
    .nft-box{
        min-width:175px;
    }
}

.fc-2{
    border:solid 2px rgb(255,255,255,0.2);
    padding:0.5rem 1rem;
    border-radius:15px;
}

    .fc-2:active, .fc-2:focus {
        border: solid 2px rgb(255,255,255,0.2) !important;
    }